@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------Google Fonts-------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* -----------Global Variables-------------- */

:root {
  --bg-black: #18181b;
  --bg-grey: #323232;
  --bg-light: #f7f5eb;
  --bg-purple: rgb(168 85 247);
  --bg-pink: #f43f5e;
  --bg-pink-lte: #ffe3e1;
  --font-family: "Roboto Condensed", sans-serif;
  --font-serrat: "Montserrat", sans-serif;
  --font-vietnam: "Be Vietnam Pro", sans-serif;
  --font-pacifico: "Pacifico", cursive;
}

/* -----------Global Styling-------------- */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
}

body {
  color: var(--bg-light);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.heading {
  font-weight: 500;
}

.big-heading {
  font-weight: 700;
  font-size: 100px;
}

p {
  font-family: var(--font-serrat);
}

a {
  text-decoration: none;
  border: none;
  outline: none;
}

.heading-black {
  color: var(--bg-black);
  font-size: 40px;
  font-weight: 700;
}

.heading-white {
  color: var(--bg-light);
  font-size: 56px;
  font-weight: 700;
}

.heading-inner {
  font-family: var(--font-serrat);
}

.underline {
  width: 100%;
  height: 1px;
  background: var(--bg-light);
}

.about-title {
  font-weight: bolder;
  font-size: 8rem;
  font-family: var(--font-vietnam);
  outline: var(--bg-light);
  color: var(--bg-black);
  background: url("./galaxy.jpg") no-repeat center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-title {
  font-weight: bolder;
  font-size: 2rem;
  font-family: var(--font-vietnam);
  outline: var(--bg-light);
  color: var(--bg-black);
  background: url("./galaxy.jpg") no-repeat center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text {
  border-radius: 0 0 60px 60px;
}

/* -----------Container Styling-------------- */

.inner-container {
  margin: 0 auto;
}

.home-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#background {
  width: 110%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("./background.jpg") no-repeat left center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Shooting Star Animation */

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3),
    0 0 0 3px rgba(255, 255, 255, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.star:nth-child(1) {
  top: 0;
  right: 0;
  animation-delay: 0;
  animation-duration: 1s;
}

.star:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.star:nth-child(4) {
  top: 0px;
  right: 400px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.star:nth-child(5) {
  top: 0px;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.star:nth-child(6) {
  top: 0px;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}

.star:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}

.star:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.star:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

.star:nth-child(10) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

/* -----------Link Styling-------------- */

.a {
  position: relative;
  padding: 6px 10px;
}

a:hover {
  color: var(--bg-purple);
}

.a::after {
  content: "";
  position: absolute;
  width: 0%;
  margin: 2px;
  height: 2px;
  background: var(--bg-purple);
  left: 0;
  bottom: 0;
}

.a:hover::after {
  width: 100%;
}

/* -----------Button Styling-------------- */

.btn {
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.3s;
  font-weight: 400;
  font-size: 18px;
}

.btn:hover {
  box-shadow: inset 14rem 0 0 0 #fff;
  color: var(--bg-black);
}

.btne {
  box-shadow: inset 0 0 0 0 #000;
  transition: ease-out 0.3s;
  font-weight: 400;
  font-size: 18px;
  color: var(--bg-black);
  margin: 1.5rem auto;
}

.btne:hover {
  box-shadow: inset 14rem 0 0 0 #000;
  color: var(--bg-light);
}

/* -----------Image Styling-------------- */

.title {
  font-size: 24px;
  font-weight: 400;
  color: var(--bg-purple);
}

.work-title {
  font-family: var(--font-pacifico);
  color: #000;
  font-size: 4rem;
}

.about-skills {
  font-family: var(--font-serrat);
  font-size: 14px;
}

.about-skills li {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 30px;
  border: 2px solid var(--bg-grey);
}

.about-skills li:hover {
  border: 2px solid var(--bg-purple);
}

.about-intro {
  font-size: 1rem;
}

.tools-icon {
  font-size: 48px;
  color: var(--bg-grey);
  transition: all 0.3s linear;
}

.tools-icon:hover {
  color: var(--bg-purple);
  transform: translateY(-10px) scale(1.2);
}

.icon-hover:hover {
  transform: scale(1.2);
}

.icon {
  font-size: 28px;
}

.arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* -----------Active Navbar Styling-------------- */

#active-navbar {
  transition: ease 0.7s;
  background: rgba(0, 0, 0, 0.5);
}

/* -----------Inactive Styling-------------- */

.hidden {
  display: none;
}

.arrow-inactive {
  background: rgba(0, 0, 0, 0.1);
}

/* -----------Slide Styling-------------- */

.slide {
  display: none;
  transition-duration: 1s ease;
}

.slide.active {
  display: flex;
  transition-duration: 1s;
}

.heading-white,
.heading-inner,
.project-desc {
  overflow: hidden;
}

.project-slider {
  height: 70%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("./laptop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s ease;
}

.project-slider:hover {
  background-size: 105%;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
}

input {
  width: 39rem;
  height: 3rem;
  border-radius: 5px;
  background: var(--bg-grey);
  padding: 0 3rem;
}

input:active {
  background: var(--bg-grey);
}

textarea {
  background: var(--bg-grey);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

.input-active {
  border: 1px solid red;
}

.error-message-show {
  color: red;
}

.error-message-hidden {
  visibility: hidden;
}

.show-check {
  color: lime;
}

.show-times {
  color: red;
}

.hide-check {
  display: none;
}

.hide-times {
  display: none;
}

#name:focus,
#email:focus,
#textarea:focus {
  border: 1px solid var(--bg-purple);
}
/* -----------Toggle Animation-------------- */

.menu-btn .toggle {
  width: 1.3rem;
  height: 0.12rem;
  margin: 0.3rem;
  background: var(--bg-light);
  transition: all 0.5s ease;
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.menu-btn {
  display: none;
}

/* -----------Media Query Styling-------------- */

@media screen and (max-width: 650px) {
  .navbar-list {
    background: linear-gradient(var(--bg-black), var(--bg-purple));
    border-left: 2px solid var(--bg-white);
    width: 40%;
    height: calc(100vh - 48px);
    position: fixed;
    z-index: 1000;
    top: 48px;
    right: 0%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.85;
    transition: all 0.5s ease;
    transform: translateX(100%);
    color: var(--bg-light);
  }
  .a::after {
    background-color: var(--bg-light);
  }
  a:hover {
    color: var(--bg-light);
  }
  .menu-btn {
    display: block;
  }

  .about-container {
    margin: 0 auto;
    text-align: center;
  }
  .contact-container {
    margin: 0 auto;
    text-align: center;
  }
  .about-resume {
    margin: 0 auto;
    margin-top: 24px;
  }
  .about-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin-top: 12px;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .tools-icon {
    font-size: 32px;
  }
  textarea {
    height: 6rem;
  }
  .contact-info {
    border-radius: 80px 80px 0 0;
  }
  .contact-form {
    border-radius: 0 0 0 0;
  }
}

.navbar-list-active {
  transform: translateX(0);
}

@media screen and (min-width: 650px) and (max-width: 1200px) {
  .about-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin-top: 12px;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .tools-icon {
    font-size: 36px;
  }
  .contact-info {
    border-radius: 80px 80px 0 0;
  }
  .contact-form {
    border-radius: 0 0 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .tools-icon {
    font-size: 40px;
  }
}

@media screen and (min-height: 560px) and (max-height: 589px) {
  .about-container,
  .contact-container,
  .project-container {
    height: 160vh;
  }
}

@media screen and (min-height: 590px) and (max-height: 668px) {
  .contact-container,
  .about-container,
  .project-container {
    height: 147vh;
  }
}

@media screen and (min-height: 669px) and (max-height: 768px) {
  .contact-container {
    height: 147vh;
  }
  .about-container,
  .project-container {
    height: 110vh;
  }
}
